body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% da altura da viewport */
}

header {
    background-color: #333;
    padding: 10px;
    width: 100%;
}

.sidebar {
    display: flex;
    justify-content: space-between;
}

.sidebar button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.sidebar button:hover {
    background-color: #0056b3;
}

.content {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

#listaPartidas {
    list-style-type: none;
    padding: 0;
}

#listaPartidas li {
    margin: auto;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#listaPartidas li:hover {
    background-color: #e0e0e0;
}

.partida-item {
    border: 1px solid gray;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.partida-info {
    border: 3px solid gray;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.partida-info span {
    margin-bottom: 5px;
}

.btn-entrar {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-entrar:hover {
    background-color: #0056b3;
}